<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Surgery on Sunday Louisville</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/lib/animate/animate.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="~/css/style.css" rel="stylesheet">

    <!-- Photo Carousel Files-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- =======================================================
      Theme Name: Regna
      Theme URL: https://bootstrapmade.com/regna-bootstrap-onepage-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>
<body>
    <header id="header">
        <div class="container">

            <div id="logo" class="pull-left">
                <a href="@Url.Action("Index", "Home")#main"><img src="~/img/WhiteLettersLogoSOS.png" /></a>
                @*<h1><a href="#main">SOS Lou</a></h1>*@
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <!--Home Nave-->
                    <li id="home" class="menu-active"><a href="#main">@Html.ActionLink("Home", "Index", "Home")</a></li>

                    <!--About Us Nav-->
                    <li class="menu-has-children">
                        <a href="@Url.Action("Index", "Home")#about">About Us</a>
                        <ul>
                            <!--Replaced directors and staff links-->
                            <li>@Html.ActionLink("Board of Directors", "Index", "Directors")</li>
                            <li>@Html.ActionLink("Staff", "Index", "Staff")</li>

                            <li><a href="@Url.Action("Index", "Home")#testimonials">Patient Testimonials</a></li>
                            <li><a href="@Url.Action("Index", "Home")#stories">Our Stories</a></li>

                        </ul>
                    </li>

                    <!-- Get Involved Nav -->
                    <li class="menu-has-children">
                        <a href="@Url.Action("Index", "Home")#getinvolved">Get Involved</a>
                        <ul>
                            <li><a href="https://savannahjames.typeform.com/to/i7DE5N" target="_blank">Physician Volunteer Application</a></li>
                            <li><a href="https://savannahjames.typeform.com/to/dx25pj" target="_blank">Non-Physician Volunteer Application</a></li>
                            <li><a href="https://savannahjames.typeform.com/to/V8ayYJ" target="_blank">Non-Clinical Volunteer Application</a></li>
                            <li><a href="https://savannahjames.typeform.com/to/V6fiB1" target="_blank">Medical Interpreter Volunteer Application</a></li>
                            <li><a href="https://savannahjames.typeform.com/to/e7fP9h" target="_blank">Volunteer Comment Form</a></li>
                            <li><a href="https://savannahjames.typeform.com/to/dONmAG" target="_blank">Patient Referral</a></li>
                        </ul>
                    </li>

                    <!-- Get Help Nav-->
                    <li class="menu-has-children">
                        <a href="@Url.Action("Index", "Home")#gethelp">Get Help</a>
                        <ul>
                            <li><a href="partnerclinics">Partner Clinics</a></li>
                        </ul>
                    </li>

                    <!-- Events Nav -->
                    <li><a href="@Url.Action("Index", "Home")#calendar">Events</a></li>

                    <!-- Donate Nav -->
                    <li><a target="_blank" href="https://soslouisville.kindful.com/">Donate</a></li>

                    <!-- Login Nav -->
                    <li class="menu-has-children">
                        <a href="">Login</a>
                        <ul>
                            <li><a href="#">Administrator</a></li>
                            <li><a href="#">Staff</a></li>
                        </ul>
                    </li>

                    <!-- Google Translate -->
                    <li>
                        <a href="#">
                            <div id="google_translate_element"></div>
                            <script type="text/javascript">
                                function googleTranslateElementInit() {
                                    new google.translate.TranslateElement({ pageLanguage: 'en', includedLanguages: 'ar,en,es,fr,zh-CN', layout: google.translate.TranslateElement.InlineLayout.SIMPLE }, 'google_translate_element');
                                }
                            </script>
                            <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                        </a>
                    </li>

                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </header><!-- #header -->
    <!--RenderBody method needs to be here or the website will crash. Don't remove it-->
    @RenderBody()

    <!--==========================
      Footer
    ============================-->

    <footer id="footer">

        <!--Footer Links-->
        <div class="container">
            <div class="row my-4">
                <!--First column-->
                <div class="col-md-4 col-lg-4">
                    <p><img class="col-md-8" src="~/img/WhiteLettersLogoSOS.png"></p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident
                        voluptate esse quasi, veritatis totam voluptas nostrum.
                    </p>
                </div>
                <!--/.First column-->

                <hr class="clearfix w-100 d-md-none">

                <!--Second column-->
                <div class="col-md-2 col-lg-2 ml-auto">
                    <h5>Useful Links</h5>                    
                        <p><a href="@Url.Action("Index", "Home")#about">ABOUT US</a></p>
                        <p><a href="@Url.Action("Index", "Home")#getinvolved">GET INVOLVED</a></p>
                        <p><a href="@Url.Action("Index", "Home")#gethelp">GET HELP</a></p>
                        <p><a href="@Url.Action("Index", "Home")#calendar">EVENTS</a></p>                    
                </div>
                <!--/.Second column-->

                <hr class="clearfix w-100 d-md-none">

                <!--Third column-->
                <div class="col-md-4 col-lg-3">
                    <h5>Contact Us</h5>
                    <!--Info-->
                    <p><i class="fa fa-dropbox mr-3"></i> P.O. BOX 4757<br />Louisville, KY 40204</p>
                    <p><i class="fa fa-envelope mr-3"></i> info@soslouisville.org</p>
                    <p><i class="fa fa-phone mr-3"></i> 502-242-2089</p>
                </div>
                <!--/.Third column-->

                <hr class="clearfix w-100 d-md-none">

                <!--Fourth column-->
                <div class="col-md-2 col-lg-2 text-center">
                    <h5 class="title mb-4 font-bold">Follow Us</h5>
                    <!--Social buttons-->
                    <div>
                        <a href="https://twitter.com/soslouisville" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.facebook.com/SurgeryonSundayLouisville" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.instagram.com/" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <!--/Fourth column-->
            </div>
        </div>
        <!--/.Footer Links-->
    </footer>
    <!--/.Footer-->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="../../lib/jquery/jquery-migrate.min.js"></script>
    <script src="../../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../lib/easing/easing.min.js"></script>
    <script src="../../lib/wow/wow.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCkU6qfQnmf8bpY6M-fN5PeZTYCo042Oo"></script>

    <script src="../../lib/waypoints/waypoints.min.js"></script>
    <script src="../../lib/counterup/counterup.min.js"></script>
    <script src="../../lib/superfish/hoverIntent.js"></script>
    <script src="../../lib/superfish/superfish.min.js"></script>

    <!-- Contact Form JavaScript File -->
    <script src="../../contactform/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="../../js/main.js"></script>

    <!-- Facebook -->
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
</body>
</html>
